<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Saranghae Quiz Rp. 100 juta</title>
</head>
<center>

<body>
<img
src="${request.static_url('saranghaequiz:static/images/saranghae100jt.jpg')}" alt="Saranghae Quiz 100 Juta" width="845" height="1215" border="0" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="rect" coords="377,430,579,453" href="http://www.facebook.com/iyaacom" target="_blank" alt="IYAA Facebook Page" />
  <area shape="rect" coords="695,430,759,454" href="http://www.twitter.com/iyaacom" target="_blank" alt="IYAA.com Twitter" />
  <area shape="rect" coords="46,478,313,497" href="http://www.iyaa.com/hiburan/film/saranghae.html" target="_blank" alt="Saranghae, I Love You - Special Page" />
</map>
</body>
</center>
</html>
